
/*
 *
 * simple.css - css for extremely simple fogcreek.com home page
 *
 * */

html>/**/body
{
	/* NON-IE ONLY: Keep vertical scrollbar around, regardless of page height */
	overflow: -moz-scrollbars-vertical;
	overflow-x: auto;	
}

body, html
{
	margin: 0;
	padding: 0;
	height: 100%;
	background: white;
	font-size: 12pt;
}

body
{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;	
}

pre
{
	margin-top: 0;
	margin-bottom: 1.5em;
}

p, pre
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;	
	font-size: 0.80em;
	line-height: 1.32em;
	color: #444444;
}

pre.last
{
	margin-bottom: 0;
}

div.square
{
	width: 17.2em;
	height: 17.2em;
	*height: 17.25em;
}

#wrap
{
	margin: 0 auto;
	width: 48.4em;
	*width: 48.7em;
	text-align: left;
}

#content
{
	float: left;
	width: 39.8em;
}

#nav
{
	float: right;
	width: 8.5em;
}

#nav table
{
	padding-left: 0.8em;
	border-left: 1px solid #e6e7e2;
}

#nav td 
{
	font-size: 0.80em;	
	line-height: 1.4em;
}

#nav, #content
{
	margin-top: 40px;
	height: 17.2em;
}

a
{
	color: #024d6e;
	text-decoration: none;
	border-bottom: 1px dotted #024d6e;
	margin-bottom: 0;
}

a:hover
{
	color: #0775a6;
}

a.disabled, a.disabled:hover
{
	color: #000000;
	text-decoration: none;
	margin-bottom: 1px;
	border-bottom: 0;
	cursor: auto;
}

.small
{
	font-size: 95%;
}

.padright
{
	padding-right: 2.5em;
	*padding-right: 2.4em;
}

a.noborder
{
	outline: none;
	text-decoration: none;
	border: 0;
}

a.noborder img
{
	border: 0;
}

#idRight
{
	float: right;
}

#idLeft
{
	float: left;
}


h1
{
    font-size: 160%;
    margin-top: 0;
}

h2
{
    font-size: 120%;
    margin-top: 20px;
}

div#aboutTheCompany, div#careers, div#contact, div#emailUs, div#interviews, div#support, #main
{
    margin-left: 180px;
    text-align: left;
    font-size: 110%;
    width: 400px;
    color: #444;
    position: absolute;
}

div#aboutTheCompany p, div#interviews p
{
    line-height: 140%;
}

div#aboutTheCompany img.upperright
{
    border:1px solid #aaa;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}

div#aboutTheCompany ul li, div#careers ul li
{
    font-size: 80%;
    padding-top: 10px;
}

div#aboutTheCompany div.leftMargin, div#careers div.leftMargin, div#contact div.leftMargin
{
    font-size: 65%;
    position: absolute;
    left: -175px;
    width: 150px;
    margin-top: 20px;
    padding-top: 5px;
}

div#aboutTheCompany div.leftMargin a
{
    text-decoration: underline;
    border-style:none;
}

#quickAnswers
{
	font-size: 0.8em;
	line-height: 140%;
}

div#emailUs table
{
	font-size: 75%;
}


blockquote.quote { margin: 0 0 1.2em; background: transparent url(/images/open-quote.gif) no-repeat 0 0; padding: 0 0 0 50px; }
	.quote * { font-style: italic; color: #455768; line-height: 14pt; }
	.quote cite:before { content: "\2014\2002"; }

/*
 * http://www.alistapart.com/articles/onionskin/
 *
 * core drop shadow rules
 *
 * */
.wrap1, .wrap2, .wrap3
{
	display:inline-table;
	/* \*/display:block;/**/
} 
.wrap1
{
	float:left;
	background:url(/images/shadow.gif) right bottom no-repeat;
}
.wrap2
{
	background:url(/images/corner_bl.gif) left bottom no-repeat;
}
.wrap3
{
	padding:0 8px 8px 0;
	background:url(/images/corner_tr.gif) right top no-repeat;
}
.wrap3 img
{
	display:block;
	border:1px solid #ccc;
	border-color:#efefef #ccc #ccc #efefef;
}
.wrap1 {background:url(/images/shadow.gif) right bottom no-repeat;}
.wrap2 {background:url(/images/corner_bl.gif) -1px 100% no-repeat;}
.wrap3 {padding:0 6px 6px 0; background:url(/images/corner_tr.gif) 100% -1px no-repeat;}


/*
     FILE ARCHIVED ON 21:32:31 Aug 31, 2008 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:39:30 Jul 25, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 313.554 (3)
  esindex: 0.009
  captures_list: 413.496
  CDXLines.iter: 15.364 (3)
  PetaboxLoader3.datanode: 198.637 (4)
  exclusion.robots.fetch: 47.406 (4)
  exclusion.robots: 48.252
  exclusion.robots.policy: 0.429
  RedisCDXSource: 30.139
  PetaboxLoader3.resolve: 671.148 (2)
  load_resource: 566.368
*/